---
all:
  children:
    presense:
      hosts:
        pipresense:
          ansible_host: pipresense.local
          ansible_user: "your-ssh-user"
          ansible_password: "your-ssh-password"
          ansible_ssh_pass: "your-ssh-password"
          ansible_become_password: "your-sudo-password"
          ansible_become_pass: "your-sudo-password"
          ansible_become_method: sudo
    plc4go:
      hosts:
        piplc4go:
          ansible_host: piplc4go.local
          ansible_user: "your-ssh-user"
          ansible_password: "your-ssh-password"
          ansible_ssh_pass: "your-ssh-password"
          ansible_become_password: "your-sudo-password"
          ansible_become_pass: "your-sudo-password"
          ansible_become_method: sudo
    sense:
      hosts:
        pisense:
          ansible_host: pisense.local
          ansible_user: "your-ssh-user"
          ansible_password: "your-ssh-password"
          ansible_ssh_pass: "your-ssh-password"
          ansible_become_password: "your-sudo-password"
          ansible_become_pass: "your-sudo-password"
          ansible_become_method: sudo
    lense:
      hosts:
        pilense:
          ansible_host: pilense.local
          ansible_user: "your-ssh-user"
          ansible_password: "your-ssh-password"
          ansible_ssh_pass: "your-ssh-password"
          ansible_become_password: "your-sudo-password"
          ansible_become_pass: "your-sudo-password"
          ansible_become_method: sudo
    otio_cluster:
      children:
        presense:
        plc4go:
        sense:
        lense:
      vars:
        ansible_python_interpreter: /usr/bin/python3
