go 1.27.0

toolchain go1.27.1

use (
	./apps/ha-agent
	./apps/protocol-lab
	./apps/dispense
	./apps/lense
	./apps/plc4go-modbus
	./apps/presense-modbus
	./apps/presense-opcua
	./apps/sense
	./shared/mqttx
)
